/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  box-sizing: border-box;
}

/* Contenedores "Acerca" y "Proyectos */
.contenedores {
  background-color: #001240;
  border-radius: 20px;
}
.contenedores .contenedor-interior {
  background-color: #DADFE5;
  border-radius: 10px;
  padding: 20px;
}
.contenedores .contenedor-interior h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}
.contenedores .contenedor-interior p {
  font-size: 22px;
  font-family: "Cairo", sans-serif;
  margin-bottom: 20px; 
  text-align: justify;
  
}

#navegador a {
  color: #001240;
  transition: all 1s ease-in-out;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 10px;
}
#navegador a::before {
  content: attr(data-item);
  transition: all 1s ease-in-out;
  color: #e49385;
  position: absolute;
  width: 0;
  overflow: hidden;
}
#navegador a:hover::before {
  width: 100%;
}

.animaciones:hover {
  transform: scale(1.1);
  transition: all 1s;
}

#skills h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

#frase .container-fluid {
  background-color: #001240;
  border-radius: 10px;
  padding: 100px 0px;
}
#frase .container-fluid h2 {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #b8d6c7;
}
#frase .container-fluid p {
  font-style: normal;
  font-size: 100px;
}


#footer {
  background-color: #001240;
}
#footer p {
  font-size: 22px;
  font-family: "Cairo", sans-serif;
  color: White;
}

.mi-foto {
  border-radius: 20%;
}

.carousel-item img {
  width: 100%; 
  height: 400px; 
  object-fit: cover;
}


